fuente(nombre,miFuente)
	@font-face
		font-family nombre
		font-weight normal
		src url('../fonts/'+ miFuente +'.eot')
		src url('../fonts/'+ miFuente +'.eot?#iefix') format('embedded-opentype'),url('../fonts/'+miFuente+'.woff') format('woff'),url('../fonts/'+miFuente+'.ttf') format('truetype'),url('../fonts/'+miFuente+'.svg#'+miFuente) format('svg')


fuente(TR-ital, rough_typewriter-itl-webfont)
fuente(TR-Bold, rough_typewriter-bld-itl-webfont)
fuente(TR-Reg, rough_typewriter-webfont)


