/***********************************************************
*
*    Autor: Héctor Sevilla
*    Fecha: 27/11/2014
*    Descripción: Estilo css para página web de Airpak
*
************************************************************/

@import 'normalize.styl'
@import 'fonts.styl'
@import 'nib'

html
    font-size 16px !important
// COLORS
azul-oscuro = #062138
gris-claro = #a9b7b7
gris = #393e41
gris-footer= #24262c
azul-gradiente = #4da5f1
amarillo = #fffe00
inputs = #ededed
OSansReg = "Open Sans"

body
    font-family OSansReg, arial
    font-weight 400
    font-size 16px
    color gris

a
    color gris
    &:link
    &:visited
        text-decoration none
ul
p
h1
h2
h3
figure
    margin 0
    padding 0


rems(pixel)
    (pixel/16)rem
alinear()
    display inline-block
    vertical-align top
centrar()
    margin-left auto
    margin-right auto
    
.img-responsive
    centrar()
.button
    text-align: center
.btn-trans
    text-transform: uppercase
    max-width 248px
    width 100%
    text-align: center
    color gris
    font-size: 18px
    border 3px solid gris
    display inline-block
    padding-top 1rem
    font-weight: 700
    margin-left auto
    margin-top: 2rem
    margin-right: auto
    padding-bottom: 1rem
    &:hover
        text-decoration: none
        background-color: gris
        color white
    &.yellow
        border 3px solid #fffe00
        color #fffe00
        &:hover
            background-color: #fffe00
            color white
.yellow-box
    background-color: #fffe00
.yellow-box2
    background-color: #ffea00

ul
    list-style none




//HEADER
header
    .row
        figure
            border-right 1px solid rgba(0,0,0,.2)
            height 109px
            text-align: center
            display table-cell
            vertical-align: middle
            img
                margin-right auto
                margin-left auto
                margin-top: 1rem
        .menu
            margin-top: 1rem
            ul
                text-align: center
        li
            text-transform: uppercase
            a
                &:hover
                    text-decoration none
        button
            background-color: transparent
            border 0
            span
                font-size: 1.5rem
        a        
            span
                font-size: 1.5rem
        .menu2Mobile
            border 1px solid rgba(0, 0, 0, .2)
        .countries
        .user
        .form
            border-top 1px solid rgba(0, 0, 0, .2)
            border-bottom 1px solid rgba(0, 0, 0, .2)
            border-right 1px solid rgba(0, 0, 0, .2)
        .menu2Mobile
        .countries
        .user
        .form
            height 41px
            text-align: center
            padding 0
            span
                line-height 1.5
        .form
            position relative
            button
            input
                display inline-block
                vertical-align middle
            button
                width 30%
            input
                border 0
                width 67%

//HEADER FIN

// BANNER INICIO
.banner
    background-image: url("../img/banner.jpg")
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    background-attachment: fixed
    height auto
    figure
        text-align: center
    p
        font-size: 4rem
        color white
        text-align: center
        margin 0
    .wrap
        padding-top: 5rem
        padding-bottom: 5rem
        text-align: center
        h2
            font-family: TR-Reg
            font-size: 60px
            color white
            text-transform: uppercase
// BANNER FIN

// STAY UPDATED INICIO
.stayUpdated
    text-align: center
    background-image: url("../img/pattern.png")
    padding-top 1rem
    padding-bottom: 1rem
    p
        text-transform: uppercase
        font-size: 14px
        span
            text-transform: none
            font-size: 24px
    .social
        li
            alinear()
            padding-right 2rem
            &:last-child
                padding-right: 0
        a
            span
                color gris
                font-size: 3rem
// STAY UPDATED FIN

// SHOW INICIO
.show
    background-color: gris
    padding-top: 4rem
    padding-bottom: 4rem
    h3
        font-family: TR-Reg
        font-size: 36px
        text-align: center
        position relative
        color white
        margin-bottom: 2rem
        &:after
            display block
            content ""
            background-image: url("../img/divider.png")
            background-repeat: no-repeat
            background-position: center center
            height 8px
    .texto
        color white
        font-size: 16px
        p
            padding 1rem 0
    .boxes
        div
            padding .5rem 1rem
            p
                font-family: TR-Reg
                font-size: 17px
                color gris
// SHOW FIN

// TOUR INICIO
.tour
    background-image: url("../img/twitterBG.jpg")
    background-repeat: no-repeat
    background-position: center center
    background-size cover
    background-attachment: fixed
    padding-top: 4rem
    padding-bottom: 4rem
    h3
        font-family: TR-Reg
        font-size: 36px
        text-align: center
        position relative
        color white
        margin-bottom: 2rem
        &:after
            display block
            content ""
            background-image: url("../img/divider.png")
            background-repeat: no-repeat
            background-position: center center
            height 8px
    .row
        & > div
            margin-bottom: .5rem
// TOUR FIN
// SHOW INICIO

// SHOW FIN
.shows
    padding-top: 4rem
    padding-bottom: 4rem
    h3
        font-family: TR-Reg
        font-size: 36px
        text-align: center
        position relative
        color gris
        margin-bottom: 2rem
        &:after
            display block
            content ""
            background-image: url("../img/divider.png")
            background-repeat: no-repeat
            background-position: center center
            height 8px
    .box
        margin-bottom: 1.8rem
        .texto
            h4
                text-transform: uppercase
                font-weight: 700
            .fecha
                color gris-claro
            p
                margin-top: 1rem
// MEMBER INICIO
.member
    padding-top: 4rem
    padding-bottom: 4rem
    background-image: url("../img/pattern.png")
    .row
        > :first-child
            text-align: center
            position relative
            padding 3rem 0
            h2
                text-transform: uppercase
            &:after
                content ""
                display block
                width 0
                height 0
                border-left: 65px solid transparent
                border-right 65px solid transparent
                border-top 40px solid amarillo
                position absolute
                left 29%
                bottom -10%
        > :last-child
            padding 3rem 0
// MEMBER FIN

// FOOTER INICIO
footer
    padding-top 2rem
    padding-bottom: 2rem
    .followers
        text-align: center
        color gris
        text-transform: uppercase
        font-size: .7rem
        a
            color black
            font-weight: bold
        .navigation-2
            margin-top: .8rem
            li
                margin-bottom: .8rem
// FOOTER FIN

@media screen and (min-width:768px)
    header
        &.medium
            .wrap
                > div
                    display inline-block
                    vertical-align middle
                    margin 0 .8rem
                .logotipo
                    margin-bottom 0
                .infoCliente
                    span
                        font-size 14px
                .redesSociales
                    ul
                        margin 0
    .servicios
        &.medium
            padding-left 2rem
            padding-right 2rem
            text-align center
            article
                alinear()
                &:nth-child(odd)
                    margin-right 5rem
    .aliados
        &.medium
            ul
                li
                    display inline-block
                    vertical-align middle
                    margin 0 4rem
    .telecomunicadoras
        &.medium
            text-align center
            margin 2rem 0
            ul
                li
                    display inline-block
                    vertical-align middle
                    margin 0 2.5rem
    footer
        &.medium
            padding-left 2rem
            padding-right 2rem
            .wrap
                text-align center
                article
                    alinear()
                    text-align left
                    width (100/3)%
                    margin-bottom 0
                    span
                        margin-left 0
                        margin-right 0
                        font-size 14px

@media screen and (min-width:1000px)
    .wrap
        margin-left auto
        margin-right auto
        width rems(940)
    header
        &.large
            text-align left
            .wrap
                .logotipo
                .redesSociales
                    margin 0
                    width 25%
                .infoCliente
                    margin 0
                    text-align center
                    width 49%
                .redesSociales
                    text-align right
    .servicios
        &.large
            article
                margin-right 1.7rem !important
                &:nth-child(3n + 3)
                    margin-right 0 !important
    section
        &.large
            .texto
            ul
                padding 0 6rem
                font-size rems(14)
                li
                    margin .8rem
                    li
                        margin 0
            h3
                margin 3rem 0
                span
                    display inline-block
                    vertical-align middle
            .icon-recarga
                display inline-block
    .banner-principal
        &.large
            text-align center
            box-sizing border-box
            height rems(250)
            hgroup
            .imagen
                display inline-block
                vertical-align middle
            hgroup
                text-align left
        &.agencias
            .wrap
                padding-top 3rem

    .aliados
        &.large
            ul
                li
                    margin 0 2rem
    footer
        &.large
            h3
                text-align center
            ul
                padding-left 5rem




